<div class="about-developer-container">
    <div class="content">
        <div class="mobile-top-section">
            <img src="assets/img/ahmed.png" alt="developer-photo" class="developer-photo">
        </div>
        <div class="download-cv-section">
            <h2>Welcome to my portfolio</h2>
            <p>
              <span class="mobile-illiminate"> Hello, my name is </span> <span style="color: var(--pink); font-size: 25px;" class="mobile-illiminate">Ahmed</span> <span class="mobile-illiminate" >,</span> I'm a software engineering student based in Tunisia, familiar with web development I enjoy 
                learning about computer science <span class="mobile-illiminate">and keep up with the latest tech jargon</span>.
                My goal is to build a great career and increase my professional knowledge.

            </p>
            <h4>Stacks I work with :</h4>
            <div class="web-development-stack">
                <img src="assets/img/Angular.png" alt="Angular logo" class="angular">
                <img src="assets/img/Symfony.png" alt="Symfony logo" class="symfony">
                <img src="assets/img/expressjs.png" alt="expressjs logo" class="expressJs">
                <!-- <img src="assets/img/Typescript.svg" alt="Typescript logo" class="typescript"> -->
                <img src="assets/img/css.png" alt="css logo" class="css">
            </div>
            <div class="botton-section">
                <button style="margin-right: 20px;">Contact me</button>
                <a href="assets/curriculum-vitae.pdf" title="ahmed-hrabi-cv" class="button-style" download >Download my CV</a>
            </div>
        </div>


        <div class="right-section">
            <img src="assets/img/ahmed.png" alt="developer-photo" class="developer-photo">
        </div>
    </div>
</div>