.screen-container{
    background: rgba(255,255,255,0.89);
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    border-radius: 11px;
}
.portfolio-content{
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
}