<div class="universities">
    <div class="university">
        <div class="faculty-image-section">
            <img src="assets/img/dsc.jpg" alt="ISSATSo">
        </div>
        <div class="faculty-information">
            <span class="university-name">
                Google MENA - DSC CoreTeam recommendation letter
            </span>
            <span class="university-diploma">
                National Engineering diploma
            </span>
            <div class="university-description">
                Recommendation based on the proven contribution in driving the DSC Higher
                Institute of Applied Sciences and Technology of SOUSSE in 2020-2021.
            </div>
            <div class="date-graduation">
                <a href="assets/Google-DevRel-MENA-DSC-CoreTeam-Recommondation.pdf" title="ahmed-hrabi-cv" class="button-style" download >Download PDF</a>
            </div>
        </div>
    </div>
    <div class="university">
        <div class="faculty-image-section">
            <img src="assets/img/Coursera.png" alt="Bialystok university">
        </div>
        <div class="faculty-information">
            <span class="university-name">
                Server-side Development with NodeJS, Express and MongoDB
            </span>
            <span class="university-diploma">
                Coursera
            </span>

            <div class="university-description">
                An online course, licensed by The Hong Kong University of Science and
               Technology and offered through Coursera.
            </div>
            <div class="date-graduation">
                <a href="https://www.coursera.org/account/accomplishments/certificate/A32JT3GXXX3L">credential</a>
                
            </div>
        </div>
    </div>
    <div class="university">
        <div class="faculty-image-section">
            <img src="assets/img/MIC.png" alt="MIC">
        </div>
        <div class="faculty-information">
            <span class="university-name">
                Microsoft Technology Associate: Database Fundamentals (MTA)
            </span>
            <span class="university-diploma">
                Microsoft 365 Partner
            </span>
            <div class="university-description">
            </div>
            <div class="date-graduation">
                <span>Credential ID 90074785
                </span>
            </div>
        </div> 
       </div>
       <div class="university-mobile">
        <div class="faculty-image-section">
            <img src="assets/img/dsc.jpg" alt="ISSATSo">
        </div>
        <div class="faculty-info">
            <span class="university-name">
                Google MENA - DSC CoreTeam recommendation letter
            </span>
            <span class="university-diploma">
                National Engineering diploma
            </span>
            <div class="date-graduation">
                <a href="assets/Google-DevRel-MENA-DSC-CoreTeam-Recommondation.pdf" title="ahmed-hrabi-cv" class="button-style" download >Download PDF</a>
            </div>
        </div>
       </div>
       <div class="university-mobile">
        <div class="faculty-image-section">
            <img src="assets/img/Coursera.png" alt="Bialystok university">
        </div>
        <div class="faculty-info">
            <span class="university-name">
                Server-side Development with NodeJS, Express and MongoDB
            </span>
            <span class="university-diploma">
                Coursera
            </span>
            <div class="date-graduation">
                <a href="https://www.coursera.org/account/accomplishments/certificate/A32JT3GXXX3L">credential</a>
            </div>
        </div>
       </div>
       <div class="university-mobile">
        <div class="faculty-image-section">
            <img src="assets/img/MIC.png" alt="ISIMa">
        </div>
        <div class="faculty-info">
            <span class="university-name">
                Higher Institute of Informatics of Mahdia
            </span>
            <span class="university-diploma">
                Applied Bachelor of Computer Science
            </span>
            <div class="date-graduation">
                <span>Credential ID 90074785
                </span>
            </div>
        </div>
       </div>
</div>