<div class="cover">
    <h2>Community</h2>
</div>
<div class="internships">
    <div class="intern">
        <div class="entreprise-img-container dsc">
        </div>
        <div class="entreprise-name">Developer Student Club</div>
        <!-- <div class="info-section">
            <div class="info-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>2 months</span>
            </div>
            <div class="info-item">
               
            </div>
            <div class="info-item">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>E-commerce</span>
            </div>
        </div> -->
        <div class="description-section">
            <div class="line-description">
                <span>university based community groups for students interested in Google developer technologies.</span>
            </div>

        </div>
    </div>

    <div class="intern">
        <div class="entreprise-img-container tnjs">
        </div>
        <div class="entreprise-name">Tunisian JS Community</div>
        <!-- <div class="info-section">
            <div class="info-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>4 months</span>
            </div>
            <div class="info-item">
               
            </div>
            <div class="info-item">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                <span>Chart</span>
            </div>
        </div> -->
        <div class="description-section">
            <div class="line-description">
               
                <span>
                    A group of JavaScript enthusiasts in Tunisia that discuss js tips, tricks, hacks and framework each month in Tunisia.We meet to share information, demos, new technologies, ask questions and learn together.
                </span>
            </div>
        </div>

    </div>

    <div class="intern">
        <div class="entreprise-img-container mic">
        </div>
        <div class="entreprise-name">Microsoft ISIMa Club</div>
        
        <div class="description-section">
            <div class="line-description">
                <span>A club that promotes, in the interest of its members, the use of development tools and technologies provided by Microsoft freely while innovating without limits. The members of the club Meet and exchange ideas between students who want to further improve their knowledge in the field of computing and new technologies.</span>
            </div>
        </div>

    </div>
    
</div>

<div class="internships-mobile">

    <div class="intern">
        <!-- <div class="entreprise-img-container">
            <img src="assets/img/gnext.png" alt="gnextIT">
        </div>  -->
        <div class="inter-info">
            <div class="entreprise-name">Developer Student Club</div>

            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>E-commerce website allow shops to publish products</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Browse and product panel functionalities</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Customized filter</span>
                </div>
            </div>
        </div> 
      </div>
      <div class="intern">
        <div class="entreprise-img-container">
            <img src="assets/img/Tunisian-JS-Community.png" alt="Tunisian-JS-Community">
        </div> 
        <div class="inter-info">
            <div class="entreprise-name">Tunisian JS Community</div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>Projects and tasks managment applications.</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Gantt Diagram Implementation.</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Real time notifications and group chat</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>User roles and privileges managment.</span>
                </div>
            </div>
        </div> 
      </div>
      <div class="intern">
        <div class="entreprise-img-container">
            <img src="assets/img/mic-isima.png" alt="mic isima club">
        </div> 
        <div class="inter-info">
            <div class="entreprise-name">Microsoft ISIMa Club</div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>Client orders managment</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Customized admin dashboard</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Products and services CRUD</span>
                </div>
            </div>
        </div> 
      </div>



</div>
