<div class="internships">
    <div class="intern">
        <div class="entreprise-img-container flamantech">
        </div>
        <div class="entreprise-name">Flamantech</div>
        <!-- <div class="info-section">
            <div class="info-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>2 months</span>
            </div>
            <div class="info-item">
               
            </div>
            <div class="info-item">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>E-commerce</span>
            </div>
        </div> -->
        <div class="description-section">
            <div class="line-description">
                <div class="square"></div>
                <span>Showcase site for marketing agency Flamantech</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
                <span>Admin and client dasboard</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
               <a href="http://flamantech.com">www.Flamantech.com</a> 
            </div>
        </div>
        <div class="technology-section">
            <img src="assets/img/css-badge.png" alt="css">
            <img src="assets/img/Angular-badge.png" alt="angular">
        </div>
    </div>

    <div class="intern">
        <div class="entreprise-img-container instavisit">
        </div>
        <div class="entreprise-name">InstaVisit.tn</div>
        <!-- <div class="info-section">
            <div class="info-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>4 months</span>
            </div>
            <div class="info-item">
               
            </div>
            <div class="info-item">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                <span>Chart</span>
            </div>
        </div> -->
        <div class="description-section">
            <div class="line-description">
                <div class="square"></div>
                <span>360° virtual visit (shops-restaurants-rental-hotel)</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
                <span>Customized filter</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
                <span>Very detailed information</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
                <a href="https://instavisit.tn">www.instavisit.tn</a>
            </div>
        </div>
        <div class="technology-section">
            <img src="assets/img/Angular-badge.png" alt="angular">
            <img src="assets/img/Symfony-badge.png" alt="symfony">
            <img src="assets/img/css-badge.png" alt="materializecss">
        </div>
    </div>

    <div class="intern">
        <div class="entreprise-img-container dclix">
        </div>
        <div class="entreprise-name">Dclix.tn</div>
        
        <div class="description-section">
            <div class="line-description">
                <div class="square"></div>
                <span>Showcase site for digital marketing startup</span>
            </div>
            <div class="line-description">
                <div class="square"></div>
                <a href="https://dclix.tn">www.dclix.tn</a>
            </div>
        </div>
        <div class="technology-section">
            <img src="assets/img/Angular-badge.png" alt="angular">
            <img src="assets/img/firebase.png" alt="firebase">
        </div>
    </div>
    <div class="intern">
        <div class="entreprise-img-container expressJS">
        </div>
        <div class="entreprise-name">
            ExpressJs tutorial

        </div>
        <div class="info-section">
            <div class="info-item">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>12 hours</span>
            </div>
            <div class="info-item">
               
            </div>
            <div class="info-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Online</span>
            </div>
        </div>
        <div class="description-section">
            <div class="line-description">
                <div class="square"></div>
                <span>Animated an ExpressJs tutorial</span>
            </div>
            <div class="line-description">
                
                <span>Basic concepts of nodeJs, MongoDB, Routes , 
                    CRUD and token based authetification</span>
            </div>
        </div>

    </div>
</div>

<div class="internships-mobile">

    <div class="intern">
        <!-- <div class="entreprise-img-container">
            <img src="assets/img/gnext.png" alt="gnextIT">
        </div>  -->
        <div class="inter-info">
            <div class="entreprise-name">Gnext It</div>
            <div class="info-section">
                <div class="info-item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>2 months</span>
                </div>
                <div class="info-item">
                   
                </div>
                <div class="info-item">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>E-commerce</span>
                </div>
                <img src="assets/img/css-badge.png" alt="css">
                <img src="assets/img/Angular-badge.png" alt="angular">
            </div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>E-commerce website allow shops to publish products</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Browse and product panel functionalities</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Customized filter</span>
                </div>
            </div>
        </div> 
      </div>
      <div class="intern">
        <div class="entreprise-img-container">
            <img src="assets/img/Smart Business Challenge.png" alt="Smart Business Challenge">
        </div> 
        <div class="inter-info">
            <div class="entreprise-name">Smart Business Challenge</div>
            <div class="info-section">
                <div class="info-item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>4 months</span>
                </div>
                <div class="info-item">
                   
                </div>
                <div class="info-item">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    <span>Chart</span>
                </div>
                <img src="assets/img/Angular-badge.png" alt="angular">
                <img src="assets/img/Symfony-badge.png" alt="symfony">
                <img src="assets/img/materializecss-badge.png" alt="materializecss">
            </div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>Projects and tasks managment applications.</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Gantt Diagram Implementation.</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Real time notifications and group chat</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>User roles and privileges managment.</span>
                </div>
            </div>
        </div> 
      </div>
      <div class="intern">
        <div class="entreprise-img-container">
            <img src="assets/img/IdealVerre.jpg" alt="IdealVerre">
        </div> 
        <div class="inter-info">
            <div class="entreprise-name">IdealVerre</div>
            <div class="info-section">
                <div class="info-item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>2 months</span>
                </div>
                <div class="info-item">
                   
                </div>
                <div class="info-item">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    <span>Products</span>
                </div>
                <img src="assets/img/Angular-badge.png" alt="angular">
            <img src="assets/img/nodeJs-badge.png" alt="NodeJs">
            <img src="assets/img/Bootstrap-badge.png" alt="bootstrap">
            </div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>Client orders managment</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Customized admin dashboard</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Products and services CRUD</span>
                </div>
            </div>
        </div> 
      </div>
    <div class="intern">
        <div class="entreprise-img-container">
            <img src="assets/img/Ibn alhaythem web-consulting .png" alt="Ibn alhaythem web-consulting">
        </div> 
        <div class="inter-info">
            <div class="entreprise-name">IBH web conselting</div>
            <div class="info-section">
                <div class="info-item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>2 months</span>
                </div>
                <div class="info-item">
                   
                </div>
                <div class="info-item">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </div>
                <img src="assets/img/php-badge.png" alt="php">
                <img src="assets/img/Bootstrap-badge.png" alt="bootstrap">
                <img src="assets/img/sql.png" alt="SQL">
            </div>
            <div class="description-section">
                <div class="line-description">
                    <div class="square"></div>
                    <span>Client orders managment</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Customized admin dashboard</span>
                </div>
                <div class="line-description">
                    <div class="square"></div>
                    <span>Proucts and services CRUD</span>
                </div>
            </div>
        </div> 
      </div>


</div>
